body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.subHeader {
  padding: 20px;
  text-align: center;
  background: grey;
  color: white;
  font-size: 30px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.subContainer {
  margin: 0 auto;
  border: 1px solid grey;
  max-width: 600px;

}

.new-tweet {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:last-child
{
    float:right;
}

.nav li:logout {
  text-align:right
}

.mainContainer {
  text-align: center
}

ul {
  padding-left: 0;
}

.login {
  margin-left:auto;margin-right:auto
}
.dashboard-item {
  list-style-position:inside;
  border: 1px solid grey;
  margin-top: 10px;
  margin-left:10px;
}

.dashboard-list {
  list-style-position:inside;
  text-align: left;
}

ul .dashboard-list {
  list-style-position:inside;

}
li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 35px;
  border-radius: 25px;
  margin: 10px;
}
.userInfo {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.questionInfo {
  margin: 10px;
  flex-direction: column;
}

.listAvatar {
  height: 85px;
  border-radius: 25px;
  margin: 10px;
}

.questionItem {
  width: 80%;
  display: flex;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
}

.userItem {
  width: 80%;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 10px;
  width:50%;
  float:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
